Repository FMIProjects/TheKnight, pull requests merged in 2024-05, with the labels that each got.

#44 Refactored Code.
  Assets/Animations/Sword/SwordAnimator.controller
  Assets/Animations/Sword/SwordAttack.anim
  Assets/Scenes/MainTown.unity
  Assets/Scripts/Camera/CameraController.cs
  Assets/Scripts/Camera/RoomMovement.cs
  Assets/Scripts/Enemy/AttackPlayer.cs
  Assets/Scripts/Enemy/EnemyController.cs
  Assets/Scripts/Enemy/EnemyHealthManager.cs
  Assets/Scripts/Enemy/Knockback.cs
  Assets/Scripts/HotBar/HotBar.cs
  Assets/Scripts/HotBar/SlotSwitch.cs
  Assets/Scripts/Inventory/DragDropScript.cs
  Assets/Scripts/Inventory/InventoryController.cs
  Assets/Scripts/Inventory/OnDropScript.cs
  Assets/Scripts/Inventory/SpawnItem.cs
  Assets/Scripts/Knight/KnightController.cs
  Assets/Scripts/Knight/KnightHealthManager.cs
  Assets/Scripts/Menu/MenuManager.cs
  Assets/Scripts/Menu/PauseMenu.cs
  Assets/Scripts/Sword/EnemySwordParent.cs
  Assets/Scripts/Sword/SwordParent.cs
  Assets/Scripts/Sword/TriggerAttack.cs
  Assets/Scripts/Utils/DamageFlash.cs
  Assets/Scripts/Utils/EnemySpawner.cs
Labels: Project

#48 Save/Load System.
  Assets/Animations/Axe/AxeAttack.anim
  Assets/Animations/Knight/Knight.controller
  Assets/Animations/Pickaxe/PickaxeAttack.anim
  Assets/ItemSprites/Tools/Axe.png.meta
  Assets/ItemSprites/Tools/AxeAnim.png.meta
  Assets/ItemSprites/Tools/Pickaxe.png.meta
  Assets/ItemSprites/Tools/PickaxeAnim.png.meta
  Assets/Prefabs/Items.meta
  Assets/Prefabs/Items/Coin.prefab
  Assets/Prefabs/Items/Coin.prefab.meta
  Assets/Prefabs/Items/Counter.prefab
  Assets/Prefabs/Items/Counter.prefab.meta
  Assets/Prefabs/Items/ResourceBoulder.prefab
  Assets/Prefabs/Items/ResourceBoulder.prefab.meta
  Assets/Prefabs/Items/ResourceTree.prefab
  Assets/Prefabs/Items/ResourceTree.prefab.meta
  Assets/Prefabs/Items/rock.prefab
  Assets/Prefabs/Items/rock.prefab.meta
  Assets/Prefabs/Items/wood.prefab
  Assets/Prefabs/Items/wood.prefab.meta
  Assets/Prefabs/Managers.meta
  Assets/Prefabs/Managers/DataPersistanceManager.prefab
  Assets/Prefabs/Managers/DataPersistanceManager.prefab.meta
  Assets/Prefabs/Managers/SaveSlot.prefab
  Assets/Prefabs/Managers/SaveSlot.prefab.meta
  Assets/Scenes/MainMenu.unity
  Assets/Scenes/MainTown.unity
  Assets/Scripts/Camera/CameraController.cs
  Assets/Scripts/DataPersistence.meta
  Assets/Scripts/DataPersistence/Data.meta
  Assets/Scripts/DataPersistence/Data/GameData.cs
  Assets/Scripts/DataPersistence/Data/GameData.cs.meta
  Assets/Scripts/DataPersistence/DataPersistenceManager.cs
  Assets/Scripts/DataPersistence/DataPersistenceManager.cs.meta
  Assets/Scripts/DataPersistence/FileDataHandler.cs
  Assets/Scripts/DataPersistence/FileDataHandler.cs.meta
  Assets/Scripts/DataPersistence/IDataPersistance.cs
  Assets/Scripts/DataPersistence/IDataPersistance.cs.meta
  Assets/Scripts/DataPersistence/SerializableTypes.meta
  Assets/Scripts/DataPersistence/SerializableTypes/SerializableDictionary.cs
  Assets/Scripts/DataPersistence/SerializableTypes/SerializableDictionary.cs.meta
  Assets/Scripts/Inventory/InventoryController.cs
  Assets/Scripts/Inventory/Slot.cs
  Assets/Scripts/Inventory/Slot.cs.meta
  Assets/Scripts/Inventory/SpawnItem.cs
  Assets/Scripts/Knight/KnightController.cs
  Assets/Scripts/Knight/KnightHealthManager.cs
  Assets/Scripts/Menu/MenuManager.cs
  Assets/Scripts/Menu/PauseMenu.cs
  Assets/Scripts/Menu/SaveSlot.cs
  Assets/Scripts/Menu/SaveSlot.cs.meta
  Assets/Scripts/Menu/SaveSlotsMenu.cs
  Assets/Scripts/Menu/SaveSlotsMenu.cs.meta
  Assets/Scripts/ResourceGathering/Harvestable.cs
  Assets/TextMesh Pro/Fonts/upheaval/upheavtt SDF.asset
Labels: Project, Save/Load

#51 Added Enemy HealthBar.
  Assets/Scenes/MainTown.unity
  Assets/Scripts/Enemy/EnemyHealthManager.cs
Labels: Enemy
