Repository FMIProjects/TheKnight, pull requests merged in 2024-04, with the labels that each got.

#34 Github Wiki + ReadMe.
  ReadMe.md
  Resources/logo.png
Labels: Project

#38 Pause Menu.
  Assets/Scenes/MainTown.unity
  Assets/Scenes/MainTown_Profiles.meta
  Assets/Scenes/MainTown_Profiles/Main Camera Profile.asset
  Assets/Scenes/MainTown_Profiles/Main Camera Profile.asset.meta
  Assets/Scripts/Menu/PauseMenu.cs
  Assets/Scripts/Menu/PauseMenu.cs.meta
  Assets/TextMesh Pro/Fonts/upheaval/upheavtt SDF.asset
  Assets/TextMesh Pro/Resources/Fonts & Materials/LiberationSans SDF - Fallback.asset
  Packages/manifest.json
  Packages/packages-lock.json
  ProjectSettings/ProjectSettings.asset
Labels: Menu

#40 Item Hotbar.
  Assets/Scenes/MainTown.unity
  Assets/Scripts/HotBar.meta
  Assets/Scripts/HotBar/HotBar.cs
  Assets/Scripts/HotBar/HotBar.cs.meta
  Assets/Scripts/Knight/KnightController.cs
  Assets/UISprites/transparent.png
  Assets/UISprites/transparent.png.meta
Labels: Inventory

#42 Inventory.
  Assets/ItemSprites/BlueCoin.png
  Assets/ItemSprites/BlueCoin.png.meta
  Assets/ItemSprites/Coin.png
  Assets/ItemSprites/Coin.png.meta
  Assets/ItemSprites/InventoryBackground.png
  Assets/ItemSprites/InventoryBackground.png.meta
  Assets/ItemSprites/InventorySlot.png
  Assets/ItemSprites/InventorySlot.png.meta
  Assets/Prefabs.meta
  Assets/Prefabs/Coin (1).prefab
  Assets/Prefabs/Coin (1).prefab.meta
  Assets/Prefabs/Coin.prefab
  Assets/Prefabs/Coin.prefab.meta
  Assets/Prefabs/Counter.prefab
  Assets/Prefabs/Counter.prefab.meta
  Assets/Scenes/MainTown.unity
  Assets/Scripts/HotBar/HotBar.cs
  Assets/Scripts/HotBar/SlotSwitch.cs
  Assets/Scripts/HotBar/SlotSwitch.cs.meta
  Assets/Scripts/Inventory.meta
  Assets/Scripts/Inventory/DragDropScript.cs
  Assets/Scripts/Inventory/DragDropScript.cs.meta
  Assets/Scripts/Inventory/InventoryController.cs
  Assets/Scripts/Inventory/InventoryController.cs.meta
  Assets/Scripts/Inventory/OnDropScript.cs
  Assets/Scripts/Inventory/OnDropScript.cs.meta
  Assets/Scripts/Inventory/SpawnItem.cs
  Assets/Scripts/Inventory/SpawnItem.cs.meta
  Assets/Scripts/Menu/PauseMenu.cs
  Assets/Scripts/Sword/SwordParent.cs
  ProjectSettings/TagManager.asset
Labels: Inventory
